# N<span style="color: #99ffff;">-</span>AND ITALIA <span style="color: #99ffff;">-</span> ADEBANJI ADELOWO

## Working with the DataBase: VENPAYBI

### The Table dbo.BiTXEnqueuersInstantKpis

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'VENPAY-BI' 
username = 'nandaa' 
password = 'Timileyin1998'  

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [ ]:
query = """SELECT *
          FROM [VENPAY-BI].[dbo].[BiTXEnqueuers] B INNER JOIN [VENPAY-BI].[dbo].[BiTXEnqueuersInstantKpis] BE 
            ON B.PK_BiTXEnqueuerId = BE.FK_BiTXEnqueuerId
 """

df_bitx3 = pd.read_sql(query, engine)
df_bitx3

,PK_BiTXEnqueuerId,Hostname,EnqueuerName,QueueName,LastKpi,PK_BiTXEnqueuersInstantKpisId,FK_BiTXEnqueuerId,ReferenceDate,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,IsRetrieveError,IsFilterError,IsEnqueueError,LastEventId,LastEventInsertDate
0,2,conn01,BiTXSQSEn1,Demobitx_Test,2023-07-18 10:45:00,1,2,2022-12-19 08:05:00,0,0,0,0,0,0,False,False,False,873330348,2022-12-19 07:56:16.397
1,3,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-18 10:45:00,3,3,2022-12-19 08:05:00,537,0,137,0,400,0,False,False,False,873335233,2022-12-19 08:04:49.840
2,4,conn01,BiTXSQSEn1,VegaSQS_EOS,2023-07-18 10:45:00,4,4,2022-12-19 08:05:00,2,0,0,0,2,0,False,False,False,873334473,2022-12-19 08:03:59.713
3,5,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,5,5,2022-12-19 08:05:00,0,0,0,0,0,0,False,False,False,0,NaT
4,6,conn01,BiTXSQSEn1,VegaSQS_LIOMATIC,2023-07-18 10:45:00,6,6,2022-12-19 08:05:00,455,0,90,0,365,0,False,False,False,873335222,2022-12-19 08:04:49.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421622,8,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_0,2023-07-18 10:40:00,268751,8,2023-04-09 12:45:00,151,0,50,0,101,0,False,False,False,929847891,2023-04-09 12:44:13.527
421623,9,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_1,2023-07-18 10:40:00,268752,9,2023-04-09 12:45:00,244,0,76,0,168,0,False,False,False,929847969,2023-04-09 12:44:33.913
421624,10,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-07-18 10:40:00,268753,10,2023-04-09 12:45:00,198,0,63,0,135,0,False,False,False,929848042,2023-04-09 12:44:56.393
421625,11,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_3,2023-07-18 10:40:00,268754,11,2023-04-09 12:45:00,213,0,47,0,166,0,False,False,False,929847973,2023-04-09 12:44:34.753
421626,2,conn01,BiTXSQSEn1,Demobitx_Test,2023-07-18 10:45:00,268755,2,2023-04-09 12:50:00,0,0,0,0,0,0,False,False,False,929768891,2023-04-09 08:17:51.697

In [ ]:
df_bitx3.describe()

,PK_BiTXEnqueuerId,PK_BiTXEnqueuersInstantKpisId,FK_BiTXEnqueuerId,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,LastEventId
count,421627.000000,421627.000000,421627.000000,421627.000000,421627.000000,421627.000000,421627.000000,421627.000000,421627.000000,4.216270e+05
mean,8.312924,238900.414800,8.312924,171.395454,0.000225,41.849059,0.008183,116.658905,0.246398,9.037416e+08
std,4.040677,135686.124618,4.040677,214.124692,0.015476,63.173154,0.255583,141.012156,2.164484,1.367979e+08
min,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,4.000000,121102.000000,4.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,8.978719e+08
50%,9.000000,238896.000000,9.000000,122.000000,0.000000,18.000000,0.000000,86.000000,0.000000,9.234159e+08
75%,12.000000,356077.500000,12.000000,262.000000,0.000000,62.000000,0.000000,192.000000,0.000000,9.458034e+08
max,14.000000,473261.000000,14.000000,4500.000000,2.000000,1868.000000,10.000000,3528.000000,20.000000,9.847782e+08

In [ ]:

query = """ SELECT FK_BiTXEnqueuerId, 
                COUNT(*) AS Count1,
                SUM(EnqueueCompletedCounter) AS Count2
        FROM [VENPAY-BI].[dbo].[BiTXEnqueuers] B INNER JOIN [VENPAY-BI].[dbo].[BiTXEnqueuersInstantKpis] BE 
            ON B.PK_BiTXEnqueuerId = BE.FK_BiTXEnqueuerId
        GROUP BY FK_BiTXEnqueuerId, EnqueuerName
 """

df_bitx3 = pd.read_sql(query, engine)
df_bitx3

    FK_BiTXEnqueuerId  Count1    Count2
0                  13   41754     82332
1                   9   32824   6709300
2                   2   39222     10878
3                   6   39222   4256465
4                  10   32824   6104517
5                  11   32824   7156172
6                   4   39222     58031
7                   3   39222  10134897
8                   5    8181         0
9                  12   41754   6199878
10                  8   32824   6528261
11                 14   41754   1945813