## Working with the DataBase: VENPAYBI

### The Table MpayStickerStateHistory

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

sys.path.insert(1, r'C:\Users\AdebanjiAdelowo\OneDrive - N-and Group Ltd\Documents\N-ANDITALIA\Private')
import securitydetail

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server =  securitydetail.server
database =  securitydetail.database 
username = securitydetail.username
password = securitydetail.password    

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [4]:
query = """
      SELECT *
  FROM [VENPAY-BI].[dbo].[MpayStickerStateHistory]
 """

df_mpay1 = pd.read_sql(query, engine)
df_mpay1

,PK_MpayStickerStateHistoryId,EK_StickerId,EK_MerchantId,EK_PlatformId,StickerId,GatewayId,IsEnabled,LastRequest,Requests,LastActivation,...,LastConnectionError,ConnectionErrors,LastTermination,Terminations,LastNoOp,NoOps,LastError,Errors,ReferenceDate,Inserted
0,1,378,7,1,70256,357666052459507,True,2022-11-30 14:09:36.783,2,2022-11-30 14:06:04.283,...,None,0,None,0,NaT,0,NaT,0,2022-11-30 14:05:00,2022-11-30 14:14:19.267
1,2,589,7,1,70463,357666052450647,True,2022-11-30 14:06:52.390,1,2022-11-30 14:06:52.390,...,None,0,None,0,NaT,0,NaT,0,2022-11-30 14:05:00,2022-11-30 14:14:19.267
2,3,697,7,1,70561,357666052446413,True,2022-11-30 14:09:16.070,1,2022-11-30 14:09:16.070,...,None,0,None,0,NaT,0,NaT,0,2022-11-30 14:05:00,2022-11-30 14:14:19.267
3,4,804,7,1,70665,357666057104116,True,2022-11-30 14:09:03.990,1,2022-11-30 14:09:03.990,...,None,0,None,0,NaT,0,NaT,0,2022-11-30 14:05:00,2022-11-30 14:14:19.267
4,5,1091,7,1,70999,00E04C017597,True,2022-11-30 14:09:15.577,1,NaT,...,None,0,None,0,NaT,0,NaT,0,2022-11-30 14:05:00,2022-11-30 14:14:19.267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53983160,53992011,47121,61,6,64336,05D743,True,2023-10-12 08:12:46.113,1,2023-10-12 08:12:46.113,...,None,0,None,0,NaT,0,NaT,0,2023-10-12 08:10:00,2023-10-12 08:35:28.847
53983161,53992012,66690,61,6,67932,07DD33,True,2023-10-12 08:13:55.233,1,2023-10-12 08:13:55.233,...,None,0,None,0,NaT,0,NaT,0,2023-10-12 08:10:00,2023-10-12 08:35:28.847
53983162,53992013,120265,64,1,E34033,865326067909476,True,2023-10-12 08:11:22.230,1,2023-10-12 08:11:22.230,...,None,0,None,0,NaT,0,NaT,0,2023-10-12 08:10:00,2023-10-12 08:35:28.853
53983163,53992014,91771,4,6,68919,0A35AB,True,2023-10-12 08:16:39.610,3,2023-10-12 08:15:57.013,...,None,0,None,0,2023-10-12 08:15:57.013,1,2023-10-12 08:16:39.610,1,2023-10-12 08:15:00,2023-10-12 08:35:28.957
53983164,53992015,91975,6,6,68922,0A30FA,True,2023-10-12 08:19:46.113,2,2023-10-12 08:19:10.753,...,None,0,None,0,2023-10-12 08:19:10.753,1,NaT,0,2023-10-12 08:15:00,2023-10-12 08:35:28.960