## Working with the DataBase: VENPAYBI

### The Table dbo.BiTXEnqueuersInstantKpis

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'VENPAY-BI' 
username = 'nandaa' 
password = 'Timileyin1998'  

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [4]:
query = """SELECT *
          FROM [VENPAY-BI].[dbo].[BiTXEnqueuers] B INNER JOIN [VENPAY-BI].[dbo].[BiTXEnqueuersInstantKpis] BE 
            ON B.PK_BiTXEnqueuerId = BE.FK_BiTXEnqueuerId
 """

df_bitx3 = pd.read_sql(query, engine)
df_bitx3

,PK_BiTXEnqueuerId,Hostname,EnqueuerName,QueueName,LastKpi,PK_BiTXEnqueuersInstantKpisId,FK_BiTXEnqueuerId,ReferenceDate,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,IsRetrieveError,IsFilterError,IsEnqueueError,LastEventId,LastEventInsertDate
0,5,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,4764,5,2022-12-21 00:55:00,0,0,0,0,0,0,False,False,False,0,NaT
1,6,conn01,BiTXSQSEn1,VegaSQS_LIOMATIC,2023-07-27 15:40:00,4765,6,2022-12-21 00:55:00,200,0,13,0,187,0,False,False,False,874326339,2022-12-21 00:54:37.377
2,5,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,4772,5,2022-12-21 01:00:00,0,0,0,0,0,0,False,False,False,0,NaT
3,6,conn01,BiTXSQSEn1,VegaSQS_LIOMATIC,2023-07-27 15:40:00,4773,6,2022-12-21 01:00:00,231,0,13,0,183,0,False,False,False,874327445,2022-12-21 00:59:03.780
4,5,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,4780,5,2022-12-21 01:05:00,0,0,0,0,0,0,False,False,False,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502768,12,conn01,BiTXSQSEn3,VegaSQS_IVSFrance,2023-10-10 16:15:00,541076,12,2023-08-31 21:30:00,93,0,20,0,73,0,False,False,False,1009596789,2023-08-31 21:29:43.720
502769,10,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-10 16:10:00,541090,10,2023-08-31 21:40:00,192,0,58,0,134,0,False,False,False,1009599552,2023-08-31 21:39:31.037
502770,12,conn01,BiTXSQSEn3,VegaSQS_IVSFrance,2023-10-10 16:15:00,541092,12,2023-08-31 21:40:00,392,0,178,0,214,0,False,False,False,1009599512,2023-08-31 21:39:21.103
502771,10,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-10 16:10:00,541100,10,2023-08-31 21:45:00,203,0,68,0,135,0,False,False,False,1009600815,2023-08-31 21:44:51.777
502772,10,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-10 16:10:00,541112,10,2023-08-31 21:55:00,206,0,62,0,144,0,False,False,False,1009603331,2023-08-31 21:54:30.977

In [5]:
drop_cols = ['PK_BiTXEnqueuerId', 'PK_BiTXEnqueuersInstantKpisId','FK_BiTXEnqueuerId']

df_bitx_noids = df_bitx3.drop(drop_cols, axis=1)
df_bitx_noids

,Hostname,EnqueuerName,QueueName,LastKpi,ReferenceDate,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,IsRetrieveError,IsFilterError,IsEnqueueError,LastEventId,LastEventInsertDate
0,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,2022-12-21 00:55:00,0,0,0,0,0,0,False,False,False,0,NaT
1,conn01,BiTXSQSEn1,VegaSQS_LIOMATIC,2023-07-27 15:40:00,2022-12-21 00:55:00,200,0,13,0,187,0,False,False,False,874326339,2022-12-21 00:54:37.377
2,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,2022-12-21 01:00:00,0,0,0,0,0,0,False,False,False,0,NaT
3,conn01,BiTXSQSEn1,VegaSQS_LIOMATIC,2023-07-27 15:40:00,2022-12-21 01:00:00,231,0,13,0,183,0,False,False,False,874327445,2022-12-21 00:59:03.780
4,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00,2022-12-21 01:05:00,0,0,0,0,0,0,False,False,False,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502768,conn01,BiTXSQSEn3,VegaSQS_IVSFrance,2023-10-10 16:15:00,2023-08-31 21:30:00,93,0,20,0,73,0,False,False,False,1009596789,2023-08-31 21:29:43.720
502769,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-10 16:10:00,2023-08-31 21:40:00,192,0,58,0,134,0,False,False,False,1009599552,2023-08-31 21:39:31.037
502770,conn01,BiTXSQSEn3,VegaSQS_IVSFrance,2023-10-10 16:15:00,2023-08-31 21:40:00,392,0,178,0,214,0,False,False,False,1009599512,2023-08-31 21:39:21.103
502771,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-10 16:10:00,2023-08-31 21:45:00,203,0,68,0,135,0,False,False,False,1009600815,2023-08-31 21:44:51.777
502772,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-10 16:10:00,2023-08-31 21:55:00,206,0,62,0,144,0,False,False,False,1009603331,2023-08-31 21:54:30.977

In [6]:
df_bitx3.describe()

,PK_BiTXEnqueuerId,PK_BiTXEnqueuersInstantKpisId,FK_BiTXEnqueuerId,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,LastEventId
count,502773.000000,502773.000000,502773.000000,502773.000000,502773.000000,502773.000000,502773.000000,502773.000000,502773.000000,5.027730e+05
mean,8.702118,288983.445533,8.702118,179.479934,0.000225,45.693371,0.007582,122.964626,0.206932,9.207577e+08
std,3.929333,169937.692635,3.929333,214.783786,0.015383,66.965815,0.235784,142.140788,1.984341,1.312935e+08
min,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,5.000000,143889.000000,5.000000,3.000000,0.000000,0.000000,0.000000,2.000000,0.000000,9.023797e+08
50%,9.000000,283972.000000,9.000000,135.000000,0.000000,21.000000,0.000000,95.000000,0.000000,9.290783e+08
75%,12.000000,424748.000000,12.000000,270.000000,0.000000,65.000000,0.000000,198.000000,0.000000,9.622722e+08
max,14.000000,634872.000000,14.000000,4500.000000,2.000000,1868.000000,10.000000,3528.000000,20.000000,1.032582e+09

In [7]:

query = """ SELECT FK_BiTXEnqueuerId, 
                COUNT(*) AS Count1,
                SUM(EnqueueCompletedCounter) AS Count2
        FROM [VENPAY-BI].[dbo].[BiTXEnqueuers] B INNER JOIN [VENPAY-BI].[dbo].[BiTXEnqueuersInstantKpis] BE 
            ON B.PK_BiTXEnqueuerId = BE.FK_BiTXEnqueuerId
        GROUP BY FK_BiTXEnqueuerId, EnqueuerName
 """

df_bitx3 = pd.read_sql(query, engine)
df_bitx3

    FK_BiTXEnqueuerId  Count1    Count2
0                   6   40031   4256465
1                  13   52989    109704
2                  11   43877  10187765
3                   3   40031  10372120
4                   4   40031     59281
5                   5    8181         0
6                   9   43877   9046163
7                  12   52989   7912954
8                   2   40031     11018
9                   8   43877   9063966
10                 14   52989   2467709
11                 10   43877   8338049