## Working with the DataBase: VENPAYBI

### The Table MpayMerchantsInstantKpis

In [5]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

In [6]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [7]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'VENPAY-BI' 
username = 'nandaa' 
password = 'Timileyin1998'  

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [8]:
query = """
      SELECT *
  FROM [VENPAY-BI].[dbo].[MpayMerchantsInstantKpis]
 
 """

df_mpay = pd.read_sql(query, engine)
df_mpay

,PK_MpayMerchantsDailyKpiId,EK_MerchantId,Inserted,ReferenceDate,ActiveUsersCounter,ActiveStickersCounter,TotalStickersCounter,TotalTransactionsCounter,WalletsTransactionsCounter,CardsTransactionsCounter,...,WalletsSelectionsCounter,CardsSelectionsCounter,TotalTransactionsValue,WalletsTransactionsValue,CardsTransactionsValues,ExtUserIdTransactionsValue,TotalRechargesValue,CardsRechargesValue,CashRechargesValue,TotalWalletsBalance
0,1,1,2022-12-01 20:19:32.800,2022-12-01 20:10:00,0,0,32,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
1,2,2,2022-12-01 20:19:32.833,2022-12-01 20:10:00,0,0,17,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
2,3,4,2022-12-01 20:19:32.837,2022-12-01 20:10:00,0,0,23,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
3,4,6,2022-12-01 20:19:32.840,2022-12-01 20:10:00,0,0,56,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
4,5,7,2022-12-01 20:19:32.847,2022-12-01 20:10:00,81,88,73635,79,74,5,...,98,5,65480,61080,4400,0,62550,45000,17550,931408184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6272542,6282462,123,2023-10-09 18:09:01.260,2023-10-09 18:00:00,0,0,1,0,0,0,...,0,0,0,0,0,0,50000,50000,0,1307093419
6272543,6282463,124,2023-10-09 18:09:01.260,2023-10-09 18:00:00,0,0,1,0,0,0,...,0,0,0,0,0,0,50000,50000,0,1307093419
6272544,6282464,125,2023-10-09 18:09:01.263,2023-10-09 18:00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,50000,50000,0,1307093419
6272545,6282465,126,2023-10-09 18:09:01.267,2023-10-09 18:00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,50000,50000,0,1307093419
6272546,6282466,127,2023-10-09 18:09:01.270,2023-10-09 18:00:00,0,0,0,0,0,0,...,0,0,0,0,0,0,50000,50000,0,1307093419

In [9]:
df_mpay.describe()

,PK_MpayMerchantsDailyKpiId,EK_MerchantId,ActiveUsersCounter,ActiveStickersCounter,TotalStickersCounter,TotalTransactionsCounter,WalletsTransactionsCounter,CardsTransactionsCounter,ExtUserIdTransactionsCounter,TotalRechargesCounter,...,WalletsSelectionsCounter,CardsSelectionsCounter,TotalTransactionsValue,WalletsTransactionsValue,CardsTransactionsValues,ExtUserIdTransactionsValue,TotalRechargesValue,CardsRechargesValue,CashRechargesValue,TotalWalletsBalance
count,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,...,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06,6.272547e+06
mean,3.137634e+06,5.789780e+01,7.115715e+00,7.149696e+00,1.603190e+03,6.616542e+00,6.401456e+00,1.937234e-01,2.136341e-02,2.738297e+01,...,8.281040e+00,1.851084e-01,4.690094e+03,4.557189e+03,1.214774e+02,1.142764e+01,1.614955e+05,1.600660e+05,1.429470e+03,1.107797e+09
std,1.812764e+06,3.144470e+01,7.416993e+01,7.335852e+01,9.908080e+03,6.853219e+01,6.642783e+01,2.061794e+00,3.160254e-01,3.371025e+01,...,8.865897e+01,1.964918e+00,4.848795e+04,4.722424e+04,1.268968e+03,1.737795e+02,1.918609e+05,1.896701e+05,1.572301e+04,9.846005e+07
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-8.600000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.290938e+08
25%,1.568138e+06,3.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+04,3.000000e+04,0.000000e+00,1.023002e+09
50%,3.136274e+06,5.700000e+01,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.500000e+04,6.500000e+04,0.000000e+00,1.113832e+09
75%,4.704410e+06,8.100000e+01,0.000000e+00,0.000000e+00,5.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.100000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.450000e+05,2.450000e+05,0.000000e+00,1.181462e+09
max,6.282466e+06,1.270000e+02,4.260000e+03,3.498000e+03,9.059900e+04,3.781000e+03,3.643000e+03,1.760000e+02,1.800000e+01,6.420000e+02,...,5.201000e+03,1.710000e+02,3.494400e+06,3.370050e+06,1.243500e+05,1.050000e+04,2.497550e+06,2.160000e+06,1.946520e+06,1.308537e+09