## Working with the DataBase: VENPAYBI

### The Table BiTXEVAProcessors

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

sys.path.insert(1, r'C:\Users\AdebanjiAdelowo\OneDrive - N-and Group Ltd\Documents\N-ANDITALIA\Private')
import securitydetail

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port

server =  securitydetail.server
database =  securitydetail.database 
username = securitydetail.username
password = securitydetail.password    

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [4]:
query = """
        SELECT *
  FROM [VENPAY-BI].[dbo].[BiTXEVAProcessors]
 """

df_bitx4 = pd.read_sql(query, engine)
df_bitx4

     PK_BiTXEVAProcessorId        Hostname             LastKpi
0                        1          apps04 2023-08-02 09:15:00
1                        2          apps02 2023-02-03 05:55:00
2                        3  rd501ac560a00a 2023-04-13 17:40:00
3                        4  rd501ac56e48c0 2023-03-07 17:10:00
4                        5  rd501ac56e3e63 2023-01-21 17:00:00
..                     ...             ...                 ...
309                    310   pd1mdwk0000jp 2023-10-06 08:55:00
310                    311   pd0mdwk000492 2023-10-09 08:55:00
311                    312   pd0mdwk0004ag 2023-10-10 08:55:00
312                    313   pd1mdwk000065 2023-10-10 10:55:00
313                    314   pd0mdwk0004bf 2023-10-11 09:00:00

[314 rows x 3 columns]