## Working with the DataBase: VENPAYBI

### The Table BiTXEVAProcessors

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'VENPAY-BI' 
username = 'nandaa' 
password = 'Timileyin1998'  

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [ ]:
query = """
        SELECT *
  FROM [VENPAY-BI].[dbo].[BiTXEVAProcessors]
 """

df_bitx4 = pd.read_sql(query, engine)
df_bitx4

     PK_BiTXEVAProcessorId        Hostname             LastKpi
0                        1          apps04 2023-07-18 10:55:00
1                        2          apps02 2023-02-03 05:55:00
2                        3  rd501ac560a00a 2023-04-13 17:40:00
3                        4  rd501ac56e48c0 2023-03-07 17:10:00
4                        5  rd501ac56e3e63 2023-01-21 17:00:00
..                     ...             ...                 ...
279                    280   pd0mdwk0000se 2023-07-18 10:55:00
280                    281   pd0mdwk0001mo 2023-07-14 03:05:00
281                    282   pd0mdwk00029u 2023-07-17 03:00:00
282                    283   pd1mdwk00002p 2023-07-18 10:55:00
283                    284   pd1mdwk00008u 2023-07-18 01:40:00

[284 rows x 3 columns]