# N<span style="color: #99ffff;">-</span>AND ITALIA <span style="color: #99ffff;">-</span> ADEBANJI ADELOWO

## Working with the DataBase: VENPAYBI

### The Table BiTXDequeuers

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'VENPAY-BI' 
username = 'nandaa' 
password = 'Timileyin1998'  

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [23]:
query = """
        SELECT *
        FROM [VENPAY-BI].[dbo].[BiTXDequeuers]
"""

df_bitx = pd.read_sql(query, engine)
df_bitx.head()

   PK_BiTXDequeuerId Hostname DequeuerName   QueueName LastKpi
0                  1   conn01    AppInbDeq  YBDInbound    None
1                  2   conn01    BiTXGDeq4      CIESSE    None
2                  3   conn01    BiTXGDeq4         DAI    None
3                  4   conn01    BiTXGDeq4         EOS    None
4                  5   conn01    BiTXGDeq4        GESA    None